// out: ./style.css, sourcemap: true, compress: true
@font-stack: Helvetica, sans-serif, Arial !important;
@primary-color: #3097D1;

.transition(@value) {
	-webkit-transition: all @value linear;
	-moz-transition: all @value linear;
	-o-transition: all @value linear;
	-ms-transition: all @value linear;
	transition: all @value linear;
}

.bold{font-weight:bold;}

body{
	background-color: #f5f5f5 !important;
	font-family: @font-stack;
}

.text-white{
	color: #fff !important;
}

.navbar-nav {
	.dropdown-menu,
	.dropdown-menu .open,
	.dropdown-toggle{
		&:hover,
		&:focus{
			background-color: darken(@primary-color, 15%) !important;
		}
	}
	.dropdown-menu,
	.dropdown-menu li,
	.dropdown-menu li a:hover{
		background-color: darken(@primary-color, 15%) !important;
	}
}

.cart-item{
	padding: 4px;
	text-align: center;
	border-bottom: 1px solid darken(@primary-color, 20%);
}
.cart-total{
	text-align: center;
	a{
		color: #fff !important;
	}
}

.checkout-item{
	padding: 15px 0;
	border-bottom: 1px solid darken(@primary-color, 20%);
}
.checkout-total{
	padding-top: 20px;
}

.container{
	position: relative;
}

ul,li{
	list-style: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea{
	width: 100%;
	padding-left: 20px;
	height: 40px;
	border: 2px solid #d5d5d5 !important;
	border-radius: 5px;
	// margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #2c2c2c;
	outline: none !important;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	.transition(.3s);

	&:focus {
		outline: none !important;
		border-color: #0084ff !important;
	}
}

button:disabled{
	cursor: not-allowed !important;
}

.products{
	li{
		margin: 10px 0;
	}
}
